* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5e0094;
}

.wrapper {
    min-width: 400px;
    background: #FFF;
    border-radius: 3px;
    padding: 25px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3)
}

.wrapper .item {
    display: block;
    background: #5e0094;
    margin: 5px 0;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .item .txt {
    color: #FFF;
    font-weight: 400;
    font-size: 1rem;
}

.wrapper .item .icon {
    color: #FFF;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.item button {
    width: 4rem;
    margin-right: auto;
}

.trash{
    color: #FFF;
    cursor: pointer;
    margin: auto 20px auto auto;
}

.container form{
    
    padding-bottom: 2rem;
    display: flex;
}

input[name=todo]{
    width: 70%;
    height: 2.5rem;
    font-size: larger;
    flex: 4;
}

.submitBtn{
    width: auto;
    height: 2.5rem;
    flex:1;
    background-color: purple;
    color: white;
}



